{% extends 'base.html' %}

{% block content %}
<section class="content-section">
    <h1>Join <span class="highlight">Robo-X</span></h1>
    <p class="lead">Ready to build the future?</p>

    <div class="doodle-card" style="width: 100%; max-width: 400px; margin: 2rem auto; box-sizing: border-box;">
        <h3>Membership Open!</h3>
        <p>We are looking for enthusiastic members who love technology.</p>
        <ul style="text-align: left; margin: 1rem 2rem;">
            <li>No prior experience needed if you have it would be more better !</li>
            <li> Access to robotic kits</li>
        </ul>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeDV3dZwdyhfdnMQ5Wbay7uUW5NIKnmF9JQmmyiSTUjD9RfMQ/viewform"
            class="doodle-btn primary-btn">Fill Application Form</a>
    </div>
</section>
{% endblock %}